@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>




<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/

">


<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-1843 node-type-page">
    <noscript><div>Javascript must be enabled for the correct page display</div></noscript>
    <!--wrapper-->
    

           
                
    <div id="main">
        <!-- Content -->
        <!--breadcrumbs-->
        <!-- Heading -->
        <div class="heading">
            <div class="map"><div class="field field-name-field-header-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><img typeof="foaf:Image" src="~/Content/img2.jpg" width="1200" height="442" /></div></div></div></div>
        </div>



        <div class="content">
            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                    <div class="field-item even" property="content:encoded">
                        <div class="contact-block">
                            <!--holder-->
                            <div class="holder">
                                <!--col-->
                                <div class="col">
                                    <div class="block">
                                        <p>
                                            <h3>A Company that delivers the best </h3>

                                            <strong>RPA</strong> is a consulting website, and we love what we do. It’s who we are. As a part of RPA team,we work side by side and aspire for the designed life(style): a place where work, life and inspiration are all equal and integrated organically.
</p>
                                        <p>Basically,we show you Projects from our server, demonstrate program operation1, ask the customer for any suggested changes.</p>
                                        <p>We have many branches all across the world and our Assistants travel to customer sites to discuss projects. </p>
                                        <p>At RPA ,we understand the importance of Customers time and we therefore value it.We take scheduled appointments and come right to your work site to make your job easy</p>
                                        <p>
                                            Our goal is to create work that is honest. Creative that is conceptually interesting and visually stunning. We believe in giving back the best to the customers . We Provide 24x7 Support to all the customers and at RPA ,we are mostly looking at Customer satisfaction
                                        </p>
                                    </div>
                                    <div class="block">
                                        <span>So What are you waiting for? Pick up the phone and call us at </span><span>(315) 420-3778</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="content">
                <p>Copyright 1995-2013 RPA Inc. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</body>
</html>
