@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>



<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/

">


<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-1843 node-type-page">
    <noscript><div>Javascript must be enabled for the correct page display</div></noscript>
    




    <!div id="main">
        <!-- Content -->
        <!--breadcrumbs-->
        <!-- Heading -->
        <div class="heading">
            <div class="map"><div class="field field-name-field-header-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><img typeof="foaf:Image" src="~/Content/img1.jpg"
 width=" 1000" height="442" /></div></div></div></div>
        </div>




    <address>
        <strong class="heading">RPA Inc. Headquarters</strong>
        <p></p>
        <p>Syracuse Campus</p>
        <p>426 Westcott street </p>
        <p><small>Syracuse, NY 13210</small></p>
        <p>email: rpa@remoteprogramming.com</p>
        <p>ph:315-420-3778</p>

    </address>

</body>
</html>




