
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

     Bug Tracker Facility

</p>


<ul>
    <li>@Html.ActionLink("Bug Tracker", "BugsList")</li>
    <li> @Html.ActionLink("Open a Bug", "Create")</li>
</ul>


