
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>







<h4>
>This facility helps to save a project specification suggested by the Customer
</h4>


<ul>
    <li>@Html.ActionLink("Create a Project Specification","Create", "Project")</li>
    <li>@Html.ActionLink("List of all the Project Specifications","ListView", "Project")</li>
</ul>
